
            <style>

                img {
                    max-width: 100%;
                    vertical-align: middle;
                    border-style: none;
                    overflow-clip-margin: content-box;
                    overflow: clip;
                  
                
                }

                
                
                
                .emphasis-title h1, .emphasis-title h2 {
                    font-size: 64px;
                    letter-spacing: -2px;
                    font-weight: 400;
                    letter-spacing: 0;
                    text-transform: none;
                }
                
                .textClass {
                    
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    color:white;
                    
                
                font-family :"Open Sans", sans-serif;
                font-size: 16px;
                
                line-height:24px;
                
                letter-spacing:normal;
                word-spacing:0px;
                
                font-weight:400;
                font-style:normal;
                font-variant:normal;
                text-transform:none;
                text-decoration:none solid rgb(85, 85, 85);
                
                text-indent:0px;
                
                }
                
                
                 
    </style>


<section id="index1" class="index1">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
   
                
                
                <section>
                
                  <div class="section parallax dark mt-0 border-0 skrollable skrollable-between" style=  "padding: 90px 0px; background-image: url(bg1.jpg); margin: 0; background-size: cover; background-position: 0px -12.3732px;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
                    <div class="container center clearfix">
                        <div class="emphasis-title">

                        
                        
                        <h2><img src="prod.png"></h2>
                        <div class="textClass">
                        <p class="lead topmargin-sm">TR7 Yük Dengeleme ve Uygulama Güvenlik Duvarı ürünleri, genel BT
                          ihtiyaçlarını etkin ve uygun maliyetlerle çözmek için tasarlanmıştır. Alanında lider çözümler
                          sunarak, müşteri desteğini ve memnuniyetini en üst seviyeye taşımaktadır.</p>
                        </div>
                        </div>
                
                    </div>
                </div>
                 
    
</section>


